* {
    padding: 0px;
    margin: 0px;
}

.nav1{
    height: 64px;
    border: 2px solid black;
    background-color: black;
    display: flex;
    align-items: center;

    
}
.logo{
    height: 63px;
    width: 130px;
    border: 1px solid black;
    background-image: url('images/logo.png');
    background-size: cover;
}



.nav2{
    height: 45px;
    border: 1px solid black;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.all {
    display: flex;
}

.logo2{
    height: 40px;
    width: 49px;
    border: 1px solid red;
    background-image: url('images/3\ bar.jpg');
    background-size: cover;
}

.nav2-text {
    font-size: 14px;
    font-weight: 530;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-top: 17px;
    padding-left: 5px;

}

.nav3{
    height: 400px;
    width: 1509px;
    border: 1px solid black;
    background-image: url('images/cosmatics.jpg') ;
    background-size: cover;
   margin-left: 11px;
}

/*
.box1{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;

}

.box2{
    height: 100px;
    width: 100px;
    border: 1px solid orangered;
    background-image: url('images/ac.jpg');
    background-size: cover;
}
.box3{
    height: 100px;
    width: 100px;
    border: 1px solid orangered;
    background-image: url('images/wash.jpg');
    background-size: cover;
}.box4{
    height: 100px;
    width: 100px;
    border: 1px solid orangered;
    background-image: url('images/fridge.jpg');
    background-size: cover;
}.box5{
    height: 100px;
    width: 100px;
    border: 1px solid orangered;
    background-image: url('images/microwave.jpg');
    background-size: cover;
}
.outerbox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nav2-text {
    font-size: 14px;
    font-weight: 500;16
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding-top: 100px;
padding-left: 5px;}

*/

.box{
    height: 440px;
    width: 360px;
    border: 2px solid black;
    background-color: #FFFFFF;
    /*padding: 20px 0px 12px;*/
}

.imgs{
    height: 350px;
    width: 350px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box1{
    height: 150px;
    width:  150px;
}
.box1img{
    height: 150px;
    width:145px ;
    border: 1px solid white;
    background-image: url('images/ac.jpg');
    background-size: cover;
}

.box2img{
    height: 153px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/fridge.jpg');
    background-size: cover;
}

.box3img{
    height: 150px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/microwave.jpg');
    background-size: cover;
}

.box4img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/wash.jpg');
    background-size: cover;
}

.nav4-text {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 17px;
    padding-left: 5px;
    padding-left: 22px;
    padding-right: 5px;

}


.nav5-text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /*margin-top: 17px;
    padding-left: 5px;
    padding-left: 22px;
    padding-right: 5px;*/

}
.nav6-text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #007185;
    /*margin-top: 17px;
    padding-left: 5px;
    padding-left: 22px;
    padding-right: 5px;*/

}

.box5img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/cushions.jpg');
    background-size: cover;
    margin-bottom: 5px;
}

.box6img{
    height: 153px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/home\ storage.jpg');
    background-size: cover;
}

.box7img{
    height: 150px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/light.jpg');
    background-size: cover;
    margin-bottom: 15px;
}

.box8img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/vases.jpg');
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.box9img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/home\ decor.jpg');
    background-size: cover;
}

.box10img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/store.jpg');
    background-size: cover;
}

.box11img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/toys.jpg');
    background-size: cover;
}

.box12img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/dress.jpg');
    background-size: cover;
}

.box13img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/clean.jpg');
    background-size: cover;
}

.box14img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/tyre.jpg');
    background-size: cover;
}

.box15img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/helmet.jpg');
    background-size: cover;
}

.box16img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/vacuum.jpg');
    background-size: cover;
}
.box17img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/fruits.jpg');
    background-size: cover;
}

.box18img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/vegitables.jpg');
    background-size: cover;
}

.box19img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/seasons speacial.jpg');
    background-size: cover;
}

.box20img{
    height: 163px;
    width:150px ;
    border: 1px solid white;
    background-image: url('images/premium and exotic.jpg');
    background-size: cover;
}